<div id="<%= dom_id person %>">
  <p>
    <strong>Fio:</strong>
    <%= person.fio %>
  </p>

  <p>
    <strong>Documents path:</strong>
    <%= person.documents_path %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= person.description %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

</div>
