<div id="<%= dom_id diary %>">
  <p>
    <strong>Date:</strong>
    <%= diary.date %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= diary.rate %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= diary.hours %>
  </p>

  <p>
    <strong>Accord:</strong>
    <%= diary.accord %>
  </p>

</div>
