<div id="<%= dom_id work_type %>">
  <p>
    <strong>Name:</strong>
    <%= work_type.name %>
  </p>

  <p>
    <strong>Dimension:</strong>
    <%= work_type.dimension %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= work_type.size %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= work_type.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= work_type.description %>
  </p>

</div>
